RewriteEngine On
RewriteBase /soccer
RewriteCond %{REQUEST_URI} !(.*)/$

## FOR LOCAL: 
RewriteRule ^brooklyn$|queens$|manhattan$	/soccer/borough-template.php\?$1 [NC,L]
RewriteRule ^preview/(.*)|brooklyn/(.*)|queens/(.*)|manhattan/(.*)	/soccer/league-template.php?id=$1 [NC,L]


## FOR PRODUCTION: 
# RewriteRule ^brooklyn$|queens$|manhattan$	borough-template.php\?$1 [NC,L]
# RewriteRule ^preview/(.*)|brooklyn/(.*)|queens/(.*)|manhattan/(.*)	league-template.php?id=$1 [NC,L]

## ErrorDocument 404 http://nycsoccer.com/404.php
